<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326831698138-jd425ln65acua7c7chaap1bnmn7g3e46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326831698138-jd425ln65acua7c7chaap1bnmn7g3e46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326831698138-ehmj8nfenqnlimrp9g0hvsnh1megs1st.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD7yHxqjgf4MasJ6V7fSjR7v7QgyeEPyw</string>
	<key>GCM_SENDER_ID</key>
	<string>326831698138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asistenciaupeuFrontend</string>
	<key>PROJECT_ID</key>
	<string>loginmovil-c3a75</string>
	<key>STORAGE_BUCKET</key>
	<string>loginmovil-c3a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326831698138:ios:4e98d5692e65d75b27f5e3</string>
</dict>
</plist>